body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: $font;
  line-height: $line--m;
  color: $color__additional;
}
h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}
