.contacts {
  padding-top: 45px;
  background-color: $color;
  @media #{$tablet} {
    margin-bottom: 25px;
  }
  @media #{$desktop} {
    padding-top: 98px;
    padding-left: 120px;
    padding-right: 120px;
  }
}
.contacts__title {
  color: $color__basic;
  width: 80%;
  margin: auto;
  margin-bottom: 37px;
  line-height: $line--l;
  text-align: center;
  font-size: $font--l;
  font-weight: 300;
  @media #{$tablet} {
    font-size: $font--xxl;
    line-height: $line--xxl;
    margin-bottom: 45px;
  }
  @media #{$desktop} {
    font-size: $font--xxxl;
    line-height: $line--xxxl;
    width: 60%;
    margin-bottom: 57px;
  }
}
.contacts__wrapper {
  margin-bottom: 55px;
  @media #{$tablet} {
    width: 50%;
    float: left;
  }
  @media #{$desktop} {
    font-size: $font--xxxl;
    line-height: $line--xxxl;
    width: 33%;
  }
  &:last-child {
    @media #{$tablet} {
      width: 100%;
      margin-bottom: 0;
    }
    @media #{$desktop} {
      width: 33%;
    }
  }
  &:nth-child(2){
    @media #{$desktop} {
      float: right;
      width: 34%;
    }
  }
}
.contacts__subtitle {
  font-size: $font--m;
  line-height: $line;
  width: 80%;
  margin: auto;
  font-weight: 700;
  color: $color__additional;
  text-align: center;
  margin-bottom: 5px;
  @media #{$desktop} {
    margin-bottom: 27px;
  }
}
.contacts__text {
  display: block;
  font-size: $font--l;
  line-height: $line--l;
  color: $color__accent;
  text-align: center;
  width: 80%;
  margin: auto;
  text-decoration: none;
}
