.copyright {
  width: 33%;
  float: left;
  box-sizing: border-box;
  padding-top: 52px;
  padding-bottom: 15px;
  padding-left: 68px;
  background-position: 84% 84%;
  background-repeat: no-repeat;
  background-image: url("../img/htmlacademy.svg");
}
.copyright span {
  font-weight: 400;
  display: inline-block;
}
