.download {
  padding-top: 40px;
  @media #{$tablet} {
    background-image: url("../img/iphone-hand-2@1x.png");
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 580px;
  }
  @media #{$desktop} {
    min-height: 685px;
    background-position: 98% 100%;
    background-image: url("../img/iphone-hand-3@1x.png");
  }

}
.download__title-wrapper {
  background-image: url("../img/iphone-hand-1.png");
  background-repeat: no-repeat;
  background-position: 50% 143%;
  min-height: 375px;
  @media #{$tablet} {
    background-image: none;
    width: 50%;
    float: left;
    min-height: 100px;
    padding-top: 55px;
    margin-bottom: 20px;
  }
  @media #{$desktop} {
    padding-top: 68px;
    margin-bottom: 43px;
  }

}
.download__title {
  color: $color;
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: $font--l;
  line-height: $line--l;
  font-weight: 300;

  @media #{$tablet} {
    font-size: $font--xxl;
    line-height: 48px;
    width: 60%;
  }
  @media #{$desktop} {
    font-size: $font--xxxl;
    line-height: $line--xxxl;
    width: 45%;
  }
}
.download__container {
  background: $color__basic;
  padding-top: 25px;
  min-height: 245px;
  @media #{$tablet} {
    background: none;
    min-height: 100px;
    padding-top: 9px;
    padding-left: 5px;
    width: 50%;
    float: left;
  }
  @media #{$desktop} {
    width: 50%;
    float: left;
  }
}
.download__btn {
    color: $color;
    display: block;
    cursor: pointer;
    font-weight: bold;
    font-size: $font--m;
    width:275px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    margin: auto;
    padding: 12px 0 18px;
    border: solid white 4px;
    border-radius: 40px;
    &:hover {
      background: $color;
      color: $color__accent;
    }
    &:active {
      opacity: 0.3;
    }
}
.download__link-wrapper {
  width: 240px;
  padding-top: 20px;
  margin: auto;
  font-size: 0;
  margin-bottom: 10px;
  @media #{$tablet} {
    padding-top: 35px;
  }
  @media #{$desktop} {
    padding-top: 55px;
    margin-bottom: 30px;

  }
}
.download__link {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  &--ios {
    background-image: url("../img/apple-logo.svg");
      background-position: 50% 33%;
  }
  &--android {
    background-image: url("../img/android-logo.svg");
  }
  &--microsoft {
    background-image: url("../img/microsoft-logo.svg");
  }
}
.download__text{
  color: $color;
  font-size: $font;
  font-weight: 300;
  line-height: $line--m;
  text-align: center;
  width: 75%;
  margin: auto;
  @media #{$tablet} {
    font-size: $font--m;
    width: 60%;
  }
}
.download__wrapper {
  @media #{$tablet} {
    width: 100%;
    outline-color: black;
  }
}
