.download {
  padding-top: 19px;
  @media #{$tablet} {
    background-image: url("../img/iphone-hand-2@1x.png");
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 580px;
  }
}
.download__title-wrapper {
  background-image: url("../img/iphone-hand-1.png");
  background-repeat: no-repeat;
  background-position: 50% 143%;
  min-height: 375px;
  @media #{$tablet} {
    background-image: none;
    width: 100%;
    float: left;
    min-height: 100px;
    padding-top: 55px;
    padding-left: 85px;
    margin-bottom: 20px;
  }

}
.download__title {
  color: $color;
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: $font--l;
  line-height: $line--l;
  font-weight: 300;
  @media #{$tablet} {
    font-size: $font--xxl;
    line-height: 48px;
    width: 30%;
    margin: 0;
  }
}
.download__container {
  background: $color__basic;
  padding-top: 25px;
  min-height: 245px;
  @media #{$tablet} {
    background: none;
    width: 50%;
    float: left;
    min-height: 100px;
    padding-top: 9px;
    padding-left: 5px;
  }
}
.download__btn {
    color: $color;
    display: block;
    cursor: pointer;
    font-weight: bold;
    font-size: $font--m;
    width:275px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    margin: auto;
    padding: 12px 0 18px 0;
    border: solid white 4px;
    border-radius: 40px;
}
.download__link-wrapper {
  width: 240px;
  padding-top: 20px;
  margin: auto;
  font-size: 0;
  margin-bottom: 10px;
  @media #{$tablet} {
    padding-top: 35px;
  }
}
.download__link {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center;
  &--ios {
    background-image: url("../img/apple-logo.svg");
      background-position: 50% 34%;
    @media #{$tablet} {
      background-position: 82% 38%;
    }
  }
  &--android {
    background-image: url("../img/android-logo.svg");
    @media #{$tablet} {
      background-position: 75% 55%;
    }
  }
  &--microsoft {
    background-image: url("../img/microsoft-logo.svg");
    @media #{$tablet} {
      background-position: 75% 55%;
    }
  }
}


.download__text{
  color: $color;
  font-size: $font;
  font-weight: 300;
  line-height: $line--m;
  text-align: center;
  width: 75%;
  margin: auto;
  @media #{$tablet} {
    font-size: $font--m;
    width: 85%;
  }
}
