.header {
  min-height: 65px;
  background-color: $color__additional--l;
  position: relative;
}
.header:after{
  content: '';
  position: absolute;
  right: 20px;
  width: 20px;
  height: 65px;
  background-image: url("../img/menu-burger.svg");
  background-repeat: no-repeat;
  background-position: right;
}
