.logo {
  position: absolute;
  z-index: 20;
  width: 50%;
  padding-top: 20px;
  @media #{$tablet} {
    padding-top: 27px;
  }
  @media #{$desktop} {
    position: relative;
    float: left;
    width: 45%;
  }
  &--foo {
    width: 33%;
    position: relative;
    float: left;
  }

}

.logo__wrapper {
  @media #{$tablet} {
    padding-left: 70px;
    background-image: url("../img/glasses-simple@1x.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding-top: 22px;
    margin-left: 20px;
  }
  @media #{$desktop} {
    margin-left: 110px;
    background-image: url("../img/glasses-desktop.png");
    min-height: 25px;
  }
  &--foo {
      background-image: url("../img/glasses-pink.png");
      margin-left: 42px;
      @media #{$desktop} {
        background-image: url("../img/glasses-pink-desktop.png");
        min-height: 25px;
      }
  }
}
.logo__img {
  @media #{$desktop} {
    display: none;
  }
}
