.menu {
  width: 50%;
  float: left;
  padding-top: 20px;
  @media #{$tablet} {
    padding-top: 43px;
  }
  @media #{$desktop} {
    width: 55%;
    padding-top: 39px;

  }
}
.menu__list {
  width: 100%;
  position: absolute;
  left: 0;
  padding-top: 65px;
  display: none;
  background-color: $color__additional;
  padding: 0;
  margin: 0;
  list-style: none;
  @media #{$desktop} {
    display: block;
    position: relative;
    font-size: 0;
    background-color: transparent;
  }
}
.menu__item {
  display: block;
  font-size: $font--m;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 17px 20px 23px 20px;
  height: 25px;
  color: $color;
  text-align: center;
  @media #{$desktop} {
    float: left;
    display: inline-block;
    padding: 0;
    font-weight: 400;
    text-transform: none;
    margin-left: 30px;
    margin-right: 37px;
  }
  &:last-child {
    @media #{$desktop} {
      margin-right: 0;
    }
  }

}
.menu__enter {
  display: inline-block;
  width: 50px;
  float: right;
  height: 25px;
  background-image: url("../img/menu-burger.svg");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  @media #{$tablet} {
    margin-right: 20px;
  }
  @media #{$desktop} {
    display: none;
  }
}
