.menu {
  width: 100%;
  padding-top: 20px;
  position: absolute;
  left: 0;
  @media #{$tablet} {
    padding-top: 43px;
  }
  @media #{$desktop} {
    float: left;
    position: relative;
    width: 55%;
    padding-top: 39px;
  }
}
.menu__list {
  width: 100%;
  position: absolute;
  left: 0;
  display: none;
  background-color: $color__additional;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: -40px;
  padding-top: 85px;
  @media #{$tablet} {
    padding-top: 110px;
  }
  @media #{$desktop} {
    width: 55%;
    display: inline;
    position: relative;
    font-size: 0;
    background-color: transparent;
  }
}
.menu__list--show {
  display: block;
}
.menu__item {
  display: block;
  font-weight: bold;
  padding: 17px 20px 23px 20px;
  height: 25px;
  border: 1px solid black;
  margin-bottom: -1px;
  @media #{$desktop} {
    display: inline-block;
    padding: 0;
    margin-left: 30px;
    margin-right: 37px;
    margin-bottom: 0;
  }
  &:last-child {
    @media #{$desktop} {
      margin-right: 0;
    }
  }
}
.menu__item a {
  text-transform: uppercase;
  font-size: $font--m;
  line-height: 32px;
  color: $color;
  text-align: center;
  display: block;
  margin: auto;
  text-decoration: none;
  @media #{$desktop} {
    font-weight: 400;
    text-transform: none;
  }
}
.menu__enter {
    width: 50px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    position: absolute;
    right: 17px;
    top: 20px;
    z-index: 20;
  @media #{$tablet} {
    margin-right: 20px;
    top: 48px;
  }
  @media #{$desktop} {
    display: none;
  }
}
.menu__enter--show {
  background-image: url("../img/menu-burger.svg");
}
.menu__enter--close {
  background-image: url("../img/menu-cross.svg");
}
