
.review {
  padding-top: 45px;
  margin: 0;
  @media #{$tablet} {
  padding-top:76px;
  }
  @media #{$desktop} {
    background-image: url("../img/quotes.svg");
    background-repeat: no-repeat;
    background-position: 50% 19%;
    padding-top: 185px;
  }
}
.review__list {
  background-image: linear-gradient(175deg, white 15%, white 88%, $color__primary 25%);
  height: 300px;
  @media #{$tablet} {
    background-image: none;
    height: 250px;
  }
}
.review__title{
  text-align: center;
  color: $color__basic;
  font-size: $font--m;
  margin-bottom: 15px;
  @media #{$tablet} {
    display: none;
  }
}
.review__text{
  line-height: $line--xl;
  width: 85%;
  margin: auto;
  text-align: center;
  @media #{$tablet} {
    font-size: $font--m;
    line-height: $line--xl;
    font-weight: 400;
    width: 95%;
    margin-bottom: 38px;
  }
  @media #{$desktop} {
      width: 65%;
      margin-bottom: 38px;
  }
}
.review__caption {
  display: none;
  width: 85%;
  margin: auto;
  text-align: center;
  @media #{$tablet} {
    display: block;
  }
  @media #{$desktop} {
    font-size: $font--m;
    line-height: $line--l;
    font-weight: 400;
  }
}
.review__title--tablet {
  display: none;
  text-align: center;
  color: $color__basic;
  font-size: $font--m;
  @media #{$tablet} {
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  @media #{$desktop} {
    font-size: $font--l;
    line-height: $line--l;
    font-weight: 700;
    margin-bottom: 5px;

  }
}
