.wrapper {
  min-width: 280px;
  @media #{$tablet} {
    min-width: 700px;
    max-width: 1200px;
  }
}
.wrapper__bg {
  background-image: url("../img/background-1@1x.jpg");
  background-repeat: no-repeat;
  background-position: top;
  @media #{$tablet} {
    background-image: url("../img/background-2@1x.jpg");
  }
}
